{% extends "base.html" %} 

{% block title %}
Michelle Navarro 
{% endblock %}

{% block body %}

<div class="row splash-page">
<video playsinline autoplay muted loop id="bgvid">
    <source src="static/img/lanight.mp4" type="video/mp4">
</video>
  <div class="medium-9 medium-centered columns">
    <div class="panel">
      <h1> Michelle Navarro </h1>
      <img src= "static/img/me.jpg" class="profile-pic">
      <p>  Software Engineer </p>
      <p>  Barnard College, Columbia University '17</p>
      <p>  Los Angeles, CA</p>
    </div>

    
    <div class="panel">
      <a href="mailto:michellenavarro83@gmail.com"><img src="static/img/email.svg" class= "social" alt="e-mail" onError="this.onerror=null;this.src='/static/img/email.png';">
      <a href="../static/img/mn.pdf"><img src="static/img/resume.svg" class= "social" alt="resume" onError="this.onerror=null;this.src='/static/img/resume.png';">
      <a href="https://www.linkedin.com/in/michellenavarro2/"><img src="static/img/linkedin.svg" class= "social" alt="linkedin" onError="this.onerror=null;this.src='/static/img/linkedin.png';">
      <a href="https://github.com/michellenavarro"><img src="static/img/github.svg" class= "social" alt="github" onError="this.onerror=null;this.src='/static/img/github.png';">
      <a href="https://angel.co/michelle-navarro"><img src="static/img/angel.svg" class= "social" alt="angel" onError="this.onerror=null;this.src='/static/img/angel.png';">
    </div>

  </div>
</div>
{% endblock %} 

