body, html {
    height: 100%;
    width: 100%;
}

body {
    background-image: url('../img/disneyhall.jpg');
    background-size: cover;
    background-color: rgba(200, 200, 200, 0.6);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

.splash-page {
    margin-top: 10%;
}

.profile-pic{
    object-fit: contain;
    transform: scale(0.85, 0.85);
    border-radius: 50%;
    margin: 1em;
}

h1{
    white-space: nowrap;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    font-weight: 700;
    padding-top: 1rem;
}

p {
    padding-bottom: 1rem;
}

.emailtext {
    visibility: hidden;
}

.resumetext {
    visibility: hidden;
}

.linkedintext {
    visibility: hidden;
}

.githubtext {
    visibility: hidden;
}

.angeltext {
    visibility: hidden;
}

.splash-page .panel {
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    font-weight: 600;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
}

.splash-page .panel:hover {
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-transition:background-color .4s ease-in; 
    -moz-transition:background-color .4s ease-in; 
    -o-transition:background-color .4s ease-in; 
    transition:background-color .4s ease-in;
}

.social{
    height: 3em;
    width: 3em;
    margin: 1em;
}

.social:hover{
    height:2.5em;
    width:2.5em;
    margin-left:1.25em;
    margin-right:1.25em;
}
